# sve ignoriraj
*

# Osim
!*.vimrc
!*.bashrc
!*.zshrc
!*.gitignore
!*.Xresources
!*.i3/*
!*.i3
!*.mpd
!*.mpd/mpd.conf
!*.vim
!*.vim/*
!*.ncmpcpp
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
#!*
